*.conf
*.cfg
*.xls
*.xlsx
*.asv
*.mat
*.log
Scripts/leafs/03_Zwischenergebnisse/*/*.fig
Scripts/EDLEM/SimulationErzeuger/Wetterdaten/Einstrahlungsdaten/*/*.txt
Scripts/EDLEM/SimulationErzeuger/Wetterdaten/Windgewschindigkeitsdaten/*.txt